.box-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.news-box{
    width:calc(100% / 3 - 12px);
    height:auto;
    /* margin-left:20px; */
    margin-top: 20px;
    background-color: var(--second-background-color);
    box-shadow: 0 0 5px var(--shadow-color);
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 4px;
    }
.news-box .image-container{
    max-width:100%;
    max-height:50%;
}
.news-box .image-container img{
    max-width:100%;
    max-height:100%;
    border-radius: 4px 4px 0 0 ;
}
.news-box .news-content{
    flex:1;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.news-box .news-content .title{
    color:var(--second-text-color);
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}
.news-box .news-content .description{
    color:var(--text-color);
    margin-top:7px ;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.full-article-container{
    margin-top: 20px;
}  
.news-box .news-content a{
    padding:5px 20px;
    background-color: var(--second-text-color);
    color:#fff;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    text-decoration: none;
}
.news-box .news-content .news-info{
    margin-top:20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.news-box .news-content .news-info .category{
    color:var(--third-text-color);
    /* margin-right:5px; */
}
.news-box .news-content .news-info .date{
    color:var(--third-text-color);
    /* margin-right:5px; */
}
.news-box svg{
    position: absolute;
    top:0px;
    right:2px;
    height: 25px;
    width:25px;
    fill:yellowgreen;
    transition: all 0.3s;
}
.added svg{
    height: 0;

}
