.backdrop{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0,0,0,0.8);
    z-index:1;
}
.preferences-content{
    position: fixed;
    width:50%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: var(--second-background-color);
    padding:20px;
    z-index:2;
}
.preferences-content label{
    margin-top: 20px;
    color:var(--text-color);
}
.preferences-content select{
    display: block;
    width:100%;
    padding:5px;
    font-size: 1rem;
}
.preferences-content  select option{
    font-size: 1rem;
    margin-top: 10px;
    padding:20px;
}
.preferences-content  .categories{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;

}
.preferences-content  .categories span{
    padding:5px 20px;
    border:1px solid grey;
    margin-right:5px;
    margin-top: 5px;
    border-radius: 24px;
    cursor: pointer;
    color:var(--text-color);
}
.preferences-content  .categories span:hover{
    color:#fff;
    background-color: var(--second-text-color);
}
.preferences-content  .categories .active{
    color:#fff;
    background-color: var(--second-text-color);
}
.preferences-content  button{
    display: block;
    padding:5px 20px;
    border-radius: 24px;
    background-color: var(--second-text-color);
    border:none;
    color:#fff;
    font-size: 1.2rem;
    margin: 20px auto 0 auto;
}
.disablesbtn{
    pointer-events: none;
    cursor: none;
    opacity: 0.5;
}
.activebtn{
    cursor: pointer;
    opacity: 1;
}