.input-container{
    display: flex;
    align-items: stretch;
    justify-content: center;
}
.input-container input{
    width:50%;
    font-size:1.1rem;
    padding:10px 20px;
    border-radius: 24px;
    border:2px solid blue;
}
.input-container button{
    background-color: blue;
    color:#fff;
    padding:10px 20px;
    border-radius: 24px;
    position: relative;
    left:-40px;
    border: none;
    cursor: pointer;
    font-size:1.1rem;
}